h2 {
 -webkit-box-shadow: rgb(51, 51, 51) 15px 0px 0px 0px, rgb(51, 51, 51) -15px 0px 0px 0px;
 background-color: rgb(51, 51, 51);
 box-shadow: rgb(51, 51, 51) 15px 0px 0px 0px, rgb(51, 51, 51) -15px 0px 0px 0px;
 color: rgb(255, 255, 255);

 font-size: 2.7em;
 line-height: 1.6em;
 font-weight: 800;

 margin-bottom: 29.1240005493164px;
 margin-left: 0px;
 margin-right: 0px;
 margin-top: 0px;

 display: inline;
 position: relative;
 right: -15px;
}

h3 {
	font-size: 1.5em;
}

blockquote {
  color: #666;
  background-color: #fbfbfb;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5em 2em;
  border: 1px solid #f0f0f0;
}


@media (max-width: 500px) {
  h2 {
   font-size: 1.75em;
  }
}