@import url(http://fonts.googleapis.com/css?family=Open+Sans);

header {
  border-bottom: black solid;
  margin-bottom: 2em;
}

.title {
  font-size: 2em;
  margin-bottom: 1em;
}

.post-title {
  font-size: 1.5em;
  text-decoration: none;
  color: #222;
  line-height: 1.4em;
}

article {
  padding-left: 8em;
  margin-left: 1em;
  margin-bottom: 1em;
  position: relative;
  border-bottom: rgb(255, 237, 237) dotted;

}

time {
  text-transform: uppercase;
  position: absolute;
  text-align: right;
  left: 0em;
  top: 0em;
  line-height: 2.2em;
  color: rgb(170, 170, 170);
}