<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/joejag.css">
        <link rel="stylesheet" href="/css/joejag-page.css">
    </head>
    <body>

        <div class="site">
          <header>
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </header>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Joe Wright<br />
                Software Development Coach<br />
                joe@joejag.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://twitter.com/joe_jag">twitter.com/joe_jag</a><br />
              </p>
            </div>
          </div>
        </div>


        <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
        <script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-6679597-1");
pageTracker._trackPageview();
} catch(err) {}</script>


    </body>
</html>
